    <div class="a-navbar">
        <nav>
            <ul>
                <li><a href="/admin">Inicio</a></li>
                <li>Inventario</li>
                <li><a href="/admin/agregar-articulo">Agregar Artículo</a></li>
                <li><a href="/admin/agregar-articulo-blog">Agregar Artículo Blog</a></li>
            </ul>
        </nav>
    </div>