    <div class="a-navbar">
        <nav>
            <ul>
                <li><a href="/admin">Inicio</a></li>
                <li><a href="/admin/inventario">Inventario</a></li>
                <li><a href="/admin/agregar-articulo">Agregar Artículo</a></li>
                <li><a href="/admin/blogfeed">Blog</a></li>
                <li><a href="/admin/agregar-blogpost">Agregar Artículo Blog</a></li>
            </ul>
        </nav>
    </div>