<div class="navbar">
    <nav>
        <ul>
            <li>Blog</li>
            <li>Desechables</li>
            <li>Equipos</li>
            <li>Líquidos</li>
            <li>Sales</li>
            <li>Resistencias</li>
            <li>Carrito</li>
            <li>Registrate</li>
            <li>Inicia Sesion</li>
        </ul>
    </nav>
</div>