<div class="navbar">
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/productos/categorie=desechables">Desechables</a></li>
            <li><a href="/productos/categorie=equipos">Equipos</a></li>
            <li><a href="/productos/categorie=liquidos">Líquidos</a></li>
            <li><a href="/productos/categorie=sales">Sales</a></li>
            <li><a href="/productos/categorie=resistencias">Resistencias</a></li>
            <li>Carrito</li>
            <li>Registrate</li>
            <li>Inicia Sesion</li>
        </ul>
    </nav>
</div>