 <%- include('includes/header') %>
        <link rel="stylesheet" href="../index.css">
    </head>
    <body>
<%- include('includes/navbar') %>
        <h1>Blurple Vape Store Puebla</h1>
        <div class="banner">

        </div>
        <h2>Productos más vendidos</h2>
        <div class='shop'>

        </div>
<%- include('includes/footer') %>