.navbar ul,li{
    position: sticky;
}

.navbar ul{
padding: 5px;
 color: black;
 display: flex;
 justify-content: space-evenly;
 text-decoration: none;
 list-style: none;
}

.banner{
    width: 1920px;
    height: 720px;
    background-color: beige;
}

.shop{
    align-content: center;
    width: 1400px;
    height: 920px;
    margin: auto;
    background-color: beige;
    z-index: -1;
}

.a-navbar ul{
    padding: 5px;
     color: black;
     display: flex;
     justify-content: space-evenly;
     text-decoration: none;
     list-style: none;
    }

label, input, textarea{
width: auto; 
display: block;
justify-content: center;
}

input, textarea{
    width: 500px
}

.form{
    width: 500px;
    height: 500px;
    margin: auto;
    align-content: center;
}